/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

body {
  background: black;
  color: white;
}

.gameboard {
  width: 800px;
  margin: 0 auto;
  position: relative;
}

.gameboard svg {
  background: white;
}

.scoreboard {
  background: #555;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 130px;
  padding: 10px;
  font-family: 'comic sans ms', helvetica, sans-serif;
  font-size: 12px;
}

.enemy {
  background-image: url('assets/poop.png');
  -webkit-animation: rotate .5s linear infinite;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}